{% extends 'base.html' %}
{% load static %}

{% block title %}
日志分析
{% endblock %}
{% block nav_webanalysis %}
active
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" action="{% url 'webanalysis:upload' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label sr-only">上传文件</label>
                <input type="file" name="log">
            </div>
            <input type="submit" value="提交">
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
{% endblock %}