div {
            background-color: deeppink;
            width: 200px;
            height: 200px;
            margin: 20px 15px 10px 5px;
            position: absolute;
            left: 20px;
            top: 10px;
        }
        #myspan {
            color: aqua;
        }
        .myclass {
            background-color: aquamarine;
        }