{% extends 'base.html' %}
{% load static %}

{% block title %}资产管理{% endblock %}
{% block nav_asset %}active{% endblock %}
{% block container %}
    <table id="table_asset" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>名称(IP)</th>
                <th>操作系统</th>
                <th>架构</th>
                <th>内存</th>
                <th>CPU</th>
                <th>磁盘</th>
                <th>发现时间</th>
                <th>最后发现时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}

{% block dialogs %}
<!-- 资产编辑 -->
<div class="modal fade dialog-update-asset" id="dialog-update-asset" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑资产</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal form-update-asset">
              {% csrf_token %}
              <div class="form-group">
                  <input type="hidden" class="form-control" id="id" name="id" >
                <label for="name" class="col-sm-2 control-label">主机name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="name" >
                </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-update-asset">编辑</button>
      </div>
    </div>
  </div>
</div>

<!-- 监控展示 -->
<div class="modal fade dialog-resource-asset" id="dialog-resource-asset" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">监控展示</h4>
      </div>
      <div class="modal-body">
          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
          <div id="chart-resource" style="width: 600px;height:400px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- 引入 echarts.js -->
<script type="text/javascript" src="{% static 'echarts/echarts.min.js' %}"></script>
{% endblock %}

{% block js %}
    var table = jQuery('#table_asset').DataTable({
        "language": {
            "processing": "处理中...",
            "lengthMenu": "显示 _MENU_ 项结果",
            "zeroRecords": "没有匹配结果",
            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "infoFiltered": "(由 _MAX_ 项结果过滤)",
            "infoPostFix": "",
            "search": "搜索:",
            "searchPlaceholder": "搜索...",
            "url": "",
            "emptyTable": "表中数据为空",
            "loadingRecords": "载入中...",
            "infoThousands": ",",
            "paginate": {
                "first": "首页",
                "previous": "上页",
                "next": "下页",
                "last": "末页"
            },
            "aria": {
                paginate: {
                    first: '首页',
                    previous: '上页',
                    next: '下页',
                    last: '末页'
                },
                "sortAscending": ": 以升序排列此列",
                "sortDescending": ": 以降序排列此列"
            },
            "decimal": "-",
            "thousands": "."
        },
        ajax: {
            url: '{% url "asset:list_ajax" %}',
            dataSrc: 'result',
        },
        columns: [
            {
                "data": function ( row, type, val, meta ) {
                    return row['name'] + '(' + row['ip'] + ')'
                }
            },
            {
                "data": "os"
            },
            {
                "data": "arch"
            },
            {
                "data": "mem"
            },
            {
                "data": function (row,type,val,meta) {
                    return row["cpu"] + '核'
                }
            },
            {
                "data": "disk"
            },
            {
                "data": "created_time"
            },
            {
                "data": "last_time"
            },
            {
                "data": function(row) {
                    return  '<p> <a class="btn btn-success btn-xs btn-resource-asset" href="javascript:void(0)" data-id="' + row['id'] + '">监控</a>  </p>' +
                            '<p> <a class="btn btn-success btn-xs btn-edit-asset" href="javascript:void(0)" data-id="' + row['id'] + '">编辑</a> </p>' +
                            '<p> <a class="btn btn-danger btn-xs btn-delete-asset" data-id="' + row['id'] + '" href="javascript:void(0)">删除</a> </p>';
                }
            },
        ]
    });

    jQuery('#table_asset').on('click', '.btn-edit-asset', function() {
    var id = jQuery(this).attr('data-id');
{#    show看来是可以用字典形式，但是注意hide不可以用这种形式 #}
{#    jQuery('.dialog-update-asset').modal('show');#}
    jQuery('.dialog-update-asset').modal({show:true});
    jQuery.get("{% url 'asset:get_ajax' %}",{'uid':id},function(result) {
            if (result['code'] == 200) {
                jQuery('.form-update-asset').find('[id=id]').val(result['result']['id']);
                jQuery('.form-update-asset').find('[id=name]').val(result['result']['name']);
            } else if (result['code'] == 400) {
                var errors = [];
                jQuery.each(result['errors'], function (k, v) {
                    errors.push(v)
                });
                swal("验证有误", errors.join('\n'), "error")
            } else if (result['code'] == 403) {
                swal({
                    title: "用户未登陆",
                    text: "",
                    timer: 2000,
                    showConfirmButton: false
                });
            }
    },'json')
});

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('chart-resource'));
    var chart_resource_option = {
        title: {
            text: 'cpu mem'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['cpu','mem']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'cpu',
                type:'line',
                stack: 'cpu',
                data:[]
            },
            {
                name:'mem',
                type:'line',
                stack: 'mem',
                data:[]
            }
        ]
    };

    jQuery('#table_asset').on('click', '.btn-resource-asset', function() {
        var xAxis = ['周一','周二','周三','周四','周五','周六','周日']
        var CPU_datas = [120, 132, 101, 134, 90, 230, 210]
        var MEM_datas = [220, 182, 191, 234, 290, 330, 310]
        // 指定图表的配置项和数据
        chart_resource_option['xAxis']['data'] = xAxis
        chart_resource_option['series'][0]['data'] = CPU_datas
        chart_resource_option['series'][1]['data'] = MEM_datas


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(chart_resource_option);
        jQuery('.dialog-resource-asset').modal({show:true});
    })

    jQuery('.btn-update-asset').on('click',function () {
        var data = jQuery('.form-update-asset').serializeArray();
        console.log(data)
        swal({
              title: "确定更新吗？",
              text: "",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "确定更新！",
              cancelButtonText: "取消更新！",
              closeOnConfirm: false,
              closeOnCancel: true
            },
            function () {
                jQuery.post("{% url 'asset:update_ajax' %}",data,function (result) {
                    if (result['code'] == 200) {
                        swal({
                        title: '成功',
                        text: '',
                        type: 'success',
                        closeOnConfirm: 'false'
                    }, function () {
                        //关闭sweetalert
                        swal.close();
                        /*刷新table*/
                        table.ajax.reload(null, false);
                        swal.close();
                        //关闭dialogs
                        jQuery('#dialog-update-asset').modal('hide');
                    });
                    } else if (result['code'] == 400) {
                        var errors = [];
                        jQuery.each(result['errors'],function (k,v) {
                            errors.push(v)
                        });
                        swal("验证有误",errors.join('\n'),"error")
                    } else if (result['code'] == 403) {
                        swal({
                      title: "用户未登陆",
                      text: "",
                      timer: 2000,
                      showConfirmButton: false
                        });
                    }
                },'json')
            }
        );
    });


    jQuery('#table_asset').on('click', '.btn-delete-asset', function() {
        var id = jQuery(this).attr('data-id');
        swal({
              title: "确定删除吗？",
              text: "你将无法恢复该虚拟文件！",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "确定删除！",
              closeOnConfirm: false
            },
            function(){
                jQuery.get("{% url 'asset:delete_ajax' %}",{'uid':id},function (result) {
                    if (result['code'] == 200) {
                        swal({
                        title: '成功',
                        text: '',
                        type: 'success',
                        closeOnConfirm: 'false'
                    }, function () {
                        //关闭sweetalert
                        swal.close();
                        /*刷新table*/
                        table.ajax.reload(null, false);
                    });
                    } else if (result['code'] == 400) {
                        var errors = [];
                        jQuery.each(result['errors'],function (k,v) {
                            errors.push(v)
                        });
                        swal("验证有误",errors.join('\n'),"error")
                    } else if (result['code'] == 403) {
                        swal({
                      title: "用户未登陆",
                      text: "",
                      timer: 2000,
                      showConfirmButton: false
                        });
                    }
                },'json')
            });
    });
{% endblock %}
