<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更改用户密码</title>
</head>
<body>
    <form action="{% url 'user:password' %}" method="post">
        {% if errors %}
            {% for key,error in errors.items %}
                {{ error }}<br />
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        旧密码: <input type="text" name="oldpassword" value="" /><br />
        新密码: <input type="text" name="newpassword" value="" /><br />
        再次确认: <input type="text" name="newpassconfirm" value="" /><br />
        <input type="submit" name="" value="确认修改" /><br />
    </form>
</body>
</html>