{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更改用户密码</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'user/signin.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <form class="form-signin" action="{% url 'user:password' %}" method="post">
            {% if errors %}
                {% for key,error in errors.items %}
                    {{ error }}<br />
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <input type="hidden" name="uid" value="{{ uid }}">
            <label for="oldpassword">旧密码</label>
            <input type="text" id="oldpassword" name="oldpassword" value="" class="form-control" /><br />
            <label for="newpassword">新密码</label>
            <input type="text" id="newpassword" name="newpassword" value="" class="form-control" /><br />
            <label for="newpassconfirm">再次确认</label>
            <input type="text" id="newpassconfirm" name="newpassconfirm" value="" class="form-control" /><br />
            <input type="submit" name="" value="确认修改" /><br />
        </form>
    </div>
</body>
</html>